<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Blog</title>
</head>
<style>
    h1{
        text-align: center;
        color: brown;
        font-weight: bold;
    }
</style>
<body>
    <h1>How Welcome! here you can share you're thoughts.</h1>
    <form action="" method="post">
        Title: <input type="text" name="title" id=""><br>
        Description: <input type="text" name="Description" id=""><br>
        <button>Upload!</button>
    </form>
</body>
</html>