<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS</title>
    <link rel="stylesheet" href="/uploads/bootstrap.css">
</head>
<style>
    h1{
        text-align: center;
        color: brown;
        font-weight: bold;
    }
</style>
<body>
    <h1>Asslam-O-Alaikum! from EJS Engine.</h1>
    <a href="/blogs/add">Add Blog</a>
    <div class="container">
        <div class="row justify-content-center">
                <div class="col-8">
                    <div class="card">
                        <%if (blog.imageurl) { %>
                            
                            <img class="card-img-top" src="<%= blog.imageurl %>" alt="Error">
                        <% } else { %>
                            
                            <img class="card-img-top" src="/uploads/1738560813721-lockscreen.jpg" alt="Error">
                        <% } %>
                    <div class="card-body">
                        <h5 class="card-title"><%= blog.title %></h5>
                        <p class="card-text"><%= blog.description %></p>
                    </div>
                    </div>
                </div>
            </div>
        </div>
</body>
</html>